@page
@model apkbackend.Pages.Projects.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Nazwa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Nazwa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Data_zgloszenia)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Data_zgloszenia)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Project.Opiekun)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Project.Opiekun)
        </dd>

    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Project?.Id" class="btn btn-warning">Edit</a> |
    <input type="submit" value="Delete" class="btn btn-danger" /> |

    <a asp-page="./Index" class="btn btn-secondary">Back to List</a>
</div>
